@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    background-color: #201F1F;
}

body { 
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}

.container{
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.text-section{
    padding-top: 200px;
}

section.home {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
}

p.hello {
    position: relative;
    z-index: 1;
    font-size: 24px;
    color: #ECC080;
    background-color: transparent;
}
h1.nama{
    padding-top: 30px;
    font-size: 48px;
    color: white;
    background-color: transparent;
}
p.desc{
    padding-top: 5px;
    font-size: 24px;
    color: white;
}
.img-icon img{
    padding-top: 40px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.jumbotron-img{
    position: relative;
    
}
.jumbotron-img img{
    right: 0;
    position: absolute;
    
}
img.self{
    right: 50px;
    top: 100px;
    position: absolute;
}
img.art1{
    padding-top: 40px;
    right: 0;
    position: absolute;
}
img.art2{
    left: 0;
    position: absolute;
    padding-top: 160px;
    padding-left: 90px;
}
img.art3{
    left: 30px;
    position: absolute;
    bottom: 150px;
   
}
img.art4{
    left: 300px;
    position: absolute;
    bottom: 0px;
}
img.art5{
    left: 0;
    position: absolute;
    top: 550px;
}

.up{
    position: fixed;
    top: 50px;
}
.middle{
    z-index: 0;
    position: absolute;
    top: 160px;
    left: 150px;
    opacity: 0.4;
}
.down{
    position: fixed;
    bottom: 0;
    left: 80px;
    background-image: transparent;
}

@media(max-width: 450px){
    *{
        margin: 0;
        padding: 0;
    }
    .container{
        width: 375px;
        margin: 0 auto;
        padding: 0;
    }
    section.home{
        grid-template-columns: none;
    }
    .up{
        position: fixed;
        top: 30px;
        width: 115px;
    }
    .middle{
        position: absolute;
        top: 170px;
        left: 85px;
        width: 59px;
    }
    .down{
        position: fixed;
        top: 620px;
        left: 235px;
        width: 100px;
    }
    p.hello{
        font-size: 18px;
        text-align: center;
    }
    h1.nama{
        padding-top: 12px;
        font-size: 24px;
        text-align: center;
    }
    p.desc{
        padding-top: 12px;
        font-size: 18px;
        text-align: center;
    }
    #email{
        padding-top: 30px;
        padding-right: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #ig{
        padding-left: 85px;
    }
    #ig, #github, #wa, #ld{
        padding-top: 15px;
    }
    #cv{
        padding-left: 116px;
    }

    .jumbotron-img{
        display: none;
    }


}
